.div-category-main{
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    transition: background-color 0.5s;
}

.btn-category{
    margin-right: 10px;
    font-size: 22px;
    background-color: transparent;
    border: none;
    font-family: "Kanit", sans-serif;
}

.div-category-main:hover {
    background-color: #242424; /* Cambia el color al pasar el mouse */
}

.div-icon-category{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-icon-category{
    margin-left: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}