body,html{
    padding: 0px;
    margin: 0px;
    background-color: #151515;
    font-family: "Kanit", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: #151515;

}

a{
    text-decoration: none;
    color: #ffff;
}

h2{
    color: #ffffff;
}

button{

}